{% extends 'base.html' %}

{% block content %}

{% for message in all_messages_from_followed_users %}
<article>
    <!--<header>
        <h4>user: {{ message.author.username }}</h4>
    </header>
        <p>
            text: {{ message.text }}
        </p>
        {% if message.location != None %}
            From: {{ message.location }}
        {% endif %}
        <div>
            {{ message.pub_date }}
        </div>
        <hr>
    -->

    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> {{ message.author.username }}</h3>
            </div>
            <div class="panel-body">
              {{ message.text }}
            </div>
          </div>
</article>
{% endfor %}
{% endblock %}
