{% extends 'base.html' %}

{% block content %}

{% for message in all_messages_from_followed_users %}
<article>
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>User:</strong>
                            {{ message.author.username }}
                        </div>
                        <div class="col-md-4">
                            <strong>Date:</strong>
                            {{ message.pub_date }}
                        </div>
                        <div class="col-md-4">
                            <strong>Location:</strong>
                            {{ message.location }}
                        </div>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Message:</strong>
                        {{ message.text }}
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
          </div>
</article>
{% endfor %}
{% endblock %}
